.page1 {
    height: auto;
    width: 100vw;
}

.download-hero {
    height: 60vh;
    width: 100%;
    margin: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* background: transparent; */
    /* position: relative; */
    /* flex-direction: column; */
    /* background: lightblue; */
}

.card-container a {
    text-decoration: none;
    color: black;
}

.card {
    height: 55vh;
    width: 22vw;
    /* background: lightseagreen; */
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    align-items: center;
    background: linear-gradient(to bottom, #0055ff, #009CFF);
    border-radius: 20px;
    cursor: pointer;
    justify-content: center;

}

.card:hover {
    transition: all ease .5s;
    transform: scale(104%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.556), 0 6px 20px 0 rgba(0, 0, 0, 0.41);
}

.img-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card img {
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.card img:hover {
    height: 90%;
    width: 90%;
    border-radius: 20px 20px 20px 20px;
    transition: all ease .5s;

}

.card-title {
    width: 100%;
    height: 15%;
    background: #009CFF;
    display: flex;
    color: white;
    font-size: 1.3vw;
    font-weight: bold;
    letter-spacing: .9px;
    align-items: center;
    justify-content: center;

}

.card-button {
    background: #FFF;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    font-weight: 600;
    border-radius: 0px 0px 20px 20px;

}

/* media query for tabs */

@media (max-width:1024px) {
    .page1 {
        height: 100vh;
        width: 100vw;
    }

    .download-hero {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 100px 0px;
        justify-content: center;
    }

    .card-container {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        flex-direction: column;
        overflow: auto;

        /* background: lightblue; */
    }

    .card {
        height: 60vh;
        width: 59vw;
        /* background: lightseagreen; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img-container {
        height: 100%;
        width: 100%;
    }


    .card img {
        height: 100%;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .card-title {
        width: 100%;
        height: 15%;
        background: #009CFF;
        display: flex;
        color: white;
        font-size: 3.6vw;
        font-weight: bold;
        letter-spacing: .9px;
        align-items: center;
        justify-content: center;

    }

    .card-button {
        background: #FFF;
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4vw;
        font-weight: 600;
        border-radius: 0px 0px 20px 20px;

    }
}

@media (max-width:600px) {
    .page1 {
        height: 100vh;
        width: 100vw;
    }

    .download-hero {
        height: 80vh;
        width: 100%;
        display: flex;
        margin: 100px 0px;
        align-items: center;
        justify-content: center;
    }

    .card-container {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        overflow: auto;

        /* flex-direction: column; */
        /* background: lightblue; */
    }

    .card {
        height: 55vh;
        width: 68vw;
        /* background: lightseagreen; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img-container {
        height: 100%;
        width: 100%;
    }


    .card img {
        height: 100%;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .card-title {
        width: 100%;
        height: 15%;
        background: #009CFF;
        display: flex;
        color: white;
        font-size: 4vw;
        font-weight: bold;
        letter-spacing: .9px;
        align-items: center;
        justify-content: center;

    }

    .card-button {
        background: #FFF;
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4vw;
        font-weight: 600;
        border-radius: 0px 0px 20px 20px;

    }
}